BOT_TOKEN=
ADMIN_TELEGRAM_IDS=
MAIN_CHAT_ID=
TIMEZONE=Europe/Moscow
DATABASE_URL=postgresql+asyncpg://ds_bot:ds_bot_password@postgres:5432/ds_bot
POSTGRES_DB=ds_bot
POSTGRES_USER=ds_bot
POSTGRES_PASSWORD=ds_bot_password
LOG_LEVEL=INFO
